*.dart linguist-detectable=true

# Flutter platform dosyaları vendor sayılır (dil algılamasından çıkar)
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored
